name: Deploy Lambda Function

on:
  push:
    branches:
      - master  # Set your branch name here

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'  # Set your Python version here

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -t . requests

    - name: Zip the Lambda function and dependencies
      run: zip -r lambda_function.zip .

    - name: Deploy to AWS Lambda
      uses: appleboy/lambda-action@v0.0.11
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: 'us-east-1'  # Set your AWS region here
        function_name: 'GroupMeBot'  # Set your Lambda function name here
        zip_file: 'lambda_function.zip'
        handler: 'lambda_function.lambda_handler'  # Modify if your handler differs
